@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto";
  line-height: 1.5;
  padding: 1em 1em;
}
pre {
  font-family: "Roboto Mono" monospace;
}

